@import "tailwindcss";

h1 {
  font-size: 3em; /* Example font size (adjust as needed) */
  text-align: center;
}

h2 {
  font-size: 2.2em; /* Example font size (adjust as needed) */
}

html { scroll-behavior: smooth; }

p {
    font-size: 1em; /* Example font size (adjust as needed) */

}

h4 {
  text-align: center;
  font-size: 2em;
}

.bar{
  background-color: lightseagreen;
}

#project-section {
  background-color: #111111;
  color: white;

}

#contact-section {
  background-color: white;
  color: black;

}

